@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    var homePage = Umbraco.AssignedContentItem.AncestorOrSelf<HomePage>();
    var navigationItems = homePage.MainNavigation;
    var currentUrl = Umbraco.AssignedContentItem.Url().ToLower();
}

<header class="header_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container box_1620">
                <a class="navbar-brand logo_h" href="@homePage.Url()">
                    <img src="@homePage.Logo.Url()" alt="@homePage.SiteName" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    @if (navigationItems != null && navigationItems.Any())
                    {
                        <ul class="nav navbar-nav menu_nav">
                            @foreach (var item in navigationItems)
                            {
                                if (item.ChildLinks != null && item.ChildLinks.Any())
                                {
                                    <li class="nav-item submenu dropdown">
                                        <a href="javascript:;" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@item.Title</a>
                                        <ul class="dropdown-menu">
                                            @foreach (var childItem in item.ChildLinks)
                                            {
                                                <li class="nav-item">
                                                    <a class="nav-link" href="@childItem.Url" target="@childItem.Target">@childItem.Name</a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <li class="@(item.Link.Url.ToLower() == currentUrl ? "nav-item active" : "nav-item")">
                                        <a class="nav-link" href="@item.Link.Url" target="@item.Link.Target">@item.Title</a>
                                    </li>
                                }
                            }
                        </ul>
                    }

                    @await Html.PartialAsync("~/Views/Partials/languages.cshtml")

                    @if (homePage.SocialMedia != null && homePage.SocialMedia.Any())
                    {
                        <ul class="nav navbar-nav navbar-right header_social">
                            @foreach (var link in homePage.SocialMedia)
                            {
                                <li class="nav-item">
                                    <a href="@link.Url" target="@link.Target"><i class="@link.Name"></i></a>
                                </li>
                            }
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </div>
    <div class="logo_part">
        <div class="container">
            <a class="logo" href="@homePage.Url()">
                <img src="@homePage.Logo.Url()" alt="@homePage.SiteName" />
            </a>
        </div>
    </div>
</header>