@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    #region Get Home Page and its descendants
    var homePage = Umbraco.AssignedContentItem.AncestorOrSelf<HomePage>();

    var descendantsPages = homePage.Descendants();
    #endregion

    #region Get correspondent page
    var incomesPage = descendantsPages.FirstOrDefault(p => p.GetType() == typeof(IncomesPage));
    var expensesPage = descendantsPages.FirstOrDefault(p => p.GetType() == typeof(ExpensesPage));
    var incomeCategoriesPage = descendantsPages.FirstOrDefault(p => p.GetType() == typeof(IncomeCategoriesPage));
    var expenseCategoriesPage = descendantsPages.FirstOrDefault(p => p.GetType() == typeof(ExpenseCategoriesPage));
    #endregion
}

<nav class="pcoded-navbar">
    <div class="nav-list">
        <div class="pcoded-inner-navbar main-menu">
            <div class="pcoded-navigation-label">@Umbraco.GetDictionaryValue("Navigation")</div>
            <ul class="pcoded-item pcoded-left-item">
                <li>
                    <a href="@homePage.Url()" class="waves-effect waves-dark">
                        <span class="pcoded-micon">
                            <i class="feather icon-home"></i>
                        </span>
                        <span class="pcoded-mtext">@Umbraco.GetDictionaryValue("Navigation.Dashboard")</span>
                    </a>
                </li>
                <li>
                    <a href="@incomesPage.Url()" class="waves-effect waves-dark">
                        <span class="pcoded-micon">
                            <i class="feather icon-upload-cloud"></i>
                        </span>
                        <span class="pcoded-mtext">@Umbraco.GetDictionaryValue("Navigation.Incomes")</span>
                    </a>
                </li>
                <li>
                    <a href="@expensesPage.Url()" class="waves-effect waves-dark">
                        <span class="pcoded-micon">
                            <i class="feather icon-download-cloud"></i>
                        </span>
                        <span class="pcoded-mtext">@Umbraco.GetDictionaryValue("Navigation.Expenses")</span>
                    </a>
                </li>
            </ul>
            <div class="pcoded-navigation-label">@Umbraco.GetDictionaryValue("Navigation.Categories")</div>
            <ul class="pcoded-item pcoded-left-item">
                <li>
                    <a href="@incomeCategoriesPage.Url()" class="waves-effect waves-dark">
                        <span class="pcoded-micon">
                            <i class="feather icon-sliders"></i>
                        </span>
                        <span class="pcoded-mtext">@Umbraco.GetDictionaryValue("Navigation.Categories.Incomes")</span>
                    </a>
                </li>
                <li>
                    <a href="@expenseCategoriesPage.Url()" class="waves-effect waves-dark">
                        <span class="pcoded-micon">
                            <i class="feather icon-sliders"></i>
                        </span>
                        <span class="pcoded-mtext">@Umbraco.GetDictionaryValue("Navigation.Categories.Expenses")</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>